.devicons {
  cursor: pointer;
  padding: 2rem;

  &-list {
    display: flex;
    justify-content: center;
  }

  @media #{$medium-and-down}{
    padding: 3rem;
    width: 25%;

    &-list {
      flex-wrap: wrap;
    }
  }

  @media #{$small-and-down}{
    width: 50%;
  }

  &-html5 {
    &:hover {
      color: rgba(236, 98, 49, .75);
    }
  }

  &-sass {
    &:hover {
      color: rgba(205, 103, 154, .75);
    }
  }

  &-javascript_badge {
    &:hover {
      color: rgba(251, 204, 90, .75);
    }
  }

  &-nodejs {
    &:hover {
      color: rgba(102, 159, 100, .75);
    }
  }

  &-react {
    &:hover {
      color: rgba(0, 216, 255, .75);
    }
  }

  &-mongodb {
    &:hover {
      color: rgba(107, 177, 70, .75);
    }
  }

  &-wordpress {
    &:hover {
      color: rgba(33, 117, 155, .75);
    }
  }

}
