a {
  color: $ace-blue !important;

  &:hover {
    color: darken($ace-blue, 10%);
  }

  &.pizazz-text {
    color: $pizazz !important;

    &:hover {
      color: darken($pizazz, 20%);
    }
  }
}

.pizazz-text {
  color: $pizazz;
}

hr.styled {
  border: 2px solid $pizazz;
  border-radius: 2px;
  width: 10%;
  max-width: 100px;
  margin: 2rem auto;

  &-mini {
    margin: 0;
    margin-bottom: 1rem;
  }

  &.initial {
    margin: 1rem 0;
  }
}

.btn-orange {
  background-color: $pizazz;

  &:hover {
    background-color: lighten($pizazz, 20%);
  }
}
.btn-outline {
  background-color: transparent !important;
  border: 1px solid white;

  &.btn-orange {
    border: 1px solid $pizazz !important;
    color: $pizazz !important;
  }
}

.btn-block {
  width: 100%;
}

.p {
  &-0 {
    padding: 0;
  }
  &-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.m {
  &-0 {
    margin: 0;
  }
}

.section-flex {
  display: flex;
  flex-wrap: wrap;

  @media #{$small-and-down}{
    flex-direction: column;
  }

  &-item {
    padding: 1rem;
    width: 50%;

    @media #{$medium-and-down}{
     &:first-child {
       width: 40%;
     }

     &:last-child {
       width: 60%;
     }
    }

    @media #{$small-and-down}{
     width: 100%;

     &:first-child, &:last-child {
       width: 100%;
     }
    }
  }

}

.l-align-self-end {
  @media #{$large-and-up}{
    align-self: flex-end;
  }
}

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid $pizazz;
    box-shadow: 0 1px 0 0 $pizazz;
}

textarea {
  height: auto;
}

.card-content {
  @media #{$medium-and-up}{
    min-height: 250px;
  }
}

.padding-tb-1 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}


.padding-tb-2 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.s-center-align {
  @media #{$medium-and-down}{
    text-align: center !important;
  }
}

.l-right-align {
  text-align: right;
  @media #{$medium-and-down}{
    text-align: center !important;
  }
}


.f-center {
  justify-content: center !important;
}

p img {
  width: 100%;
}
