.hero {
  display: flex;
  height: 70vh;
  min-height: 660px;
  background-color: black;
  background-position: center bottom;
  background-size: cover;
  align-items: center;
  position: relative;

  .container {
    display: flex;
    justify-content: flex-end;
  }

  &-content {
    max-width: 600px;
    position: relative;
  }

  &-title {
    font-size: 42px;
    font-weight: 300;
    color: $white;
    line-height: 1.2;
    position: relative;
  }

  &-desc {
    font-size: 28px;
    color: $white;
    opacity: 0.4;
  }

  @media #{$medium-and-down} {
    background-image: url(/img/bg-hero-mobile.jpg);

    &-content {
      text-align: center;
    }
  }
}
.is-quoted {
  &:before, &:after {
    content:'"';
    font-family: 'BebasNeue';
    position: absolute;
    font-size: 108px;
    color: $ace-blue !important;
  }

  &:before {
    left: -2rem;
    top: -1rem;
  }

  @media #{$medium-and-down} {
    &:before, &:after {
      display: none;
    }

    border: 1px solid $ace-blue;
    padding: 3rem 1rem;
  }
}
