.hiw {

  &-flow {
    display: flex;
    flex-wrap: wrap;
  }

  &-item {
    text-align: center;
    width: 25%;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
    opacity: 0.8;

    &-title {
      color: $pizazz;
      font-size: 20px;
      font-weight: 300;
      padding: 1rem;
      height: 3em;
      transition: 0.2s all ease-in-out;

      @media #{$medium-and-down} {
        height: 4em;
      }
    }

    &-line {
      position: relative;
      width: 100%;
      height: 2px;
      background-color: $pizazz;
      transition: 0.2s all ease-in-out;

      &:before, &:after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:before {
        content:" ";
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 1px solid $pizazz;
        background-color: darken($grey-darker, 20%);
        transition: 0.2s all ease-in-out;
      }

      &:after {
        content:"\f078";
        font-family: FontAwesome;
        color: $white;
        opacity: 0;
        font-size: 16px;
        transition: 0.2s all ease-in-out;
      }
    }

    &-desc {
      padding: 1rem;
      font-size: 16px;
      font-weight: 300;
      color: $white;
      transition: 0.2s all ease-in-out;
      opacity: 0.8;

    }

    &:hover {
      opacity: 1;
      .hiw-item-desc {
        color: $white;
        opacity: 1;
      }

      .hiw-item-line {
        &:before {
          width: 32px;
          height: 32px;
          background-color: $pizazz;
        }

        &:after {
          opacity: 1;

        }
      }
    }

    @media #{$medium-and-down} {
      width: 50%;
    }

    @media #{$small-and-down} {
      width: 100%;
    }
  }
}
