.section {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &.page {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .error {
      margin-top: 4rem;
      text-align: left;
      background-color: whitesmoke;
      padding: 2rem;
      border-radius: 8px;
    }
  }

  .page-404-content {
    margin-top: 2rem;
    width: 200px;
    height: 200px;
    background-color: whitesmoke;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h2, p {
      margin: 0;
    }

    h2 {
      font-size: 32px;
      font-weight: bold;
    }
  }

  &-headline {
  }

  &-title {
    font-size: 48px;
    color: $grey-darker;
  }

  &-desc {
    color: $grey-darker;
    font-size: 18px;
  }

  &-light {
    background-color: $grey;
  }

  &-dark {
    background-color: black;
    .section-title, .section-desc {
      color: $white;
    }
  }
}


.thanks-message {
  width: 90%;
  max-width: 480px;
  padding: 2rem;
  text-align: center;
  margin: 0 auto;

  h2 {
    font-size: 32px;
    font-weight: bold;
  }
}
