@font-face {
  font-family: 'BebasNeue';
  src: url('/fonts/BebasNeue Regular.otf') format('opentype') ;
  src: url('/fonts/BebasNeue Regular.ttf') format('truetype');
}

body {
  color: rgba(95, 106, 125, 0.94);
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  position: relative; }

h2 {
  font-weight: 400;
  color: #2e3b4e;
  font-size: 28px; }

h3 {
  font-weight: 600;
  font-size: 22px; }

strong {
  font-weight: 600;
}
