
@import "../../scss/materialize/materialize.scss";
@import "../../scss/_variables.scss";
.nav {

  &-header {
    background-color: transparent;
    position: absolute;
    width: 100%;
    padding: 1rem;
    z-index: 9999;
  }

  &-is-fixed {
    position: fixed;
    background-color: rgba(black,0.9);
    box-shadow: 0 4px 20px rgba(black,0.1);
  }

  &-container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .brand {
      display: flex;
      align-items: center;
      margin-right: auto;
      &-logo {

      }

      &-tagline {
        margin-left: 1rem;
        font-size: 16px;
        color: rgba($white, 0.4);
      }

    }

  }

  &-toggle {
    display: none;
  }

  &-links {

    a {
      font-size: 18px;
      display: inline-block;
      color: $white !important;
      opacity: 0.4;
      padding: 1rem;
      font-weight: 300;
      transition: 0.2s all ease-in-out;
      &:hover, &.is-current {
        opacity: 1;
      }

      &.nav-phone-link {
        opacity: 0.8;
        color: $pizazz !important;
      }
    }
  }

  &-phone-link {
    margin-left: auto;
  }

  @media #{$medium-and-down} {
    &-header {
    }

    &-is-fixed {
    }

    &-container {
      width: 100%;
      flex-direction: column;
      position: relative;

      .brand {
        display: flex;
        align-items: center;
        margin: 0 auto;
        &-logo {

        }
        &-tagline {
          display: none;
        }

      }

    }

    &-toggle {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;

      i {
        color: white;
        font-size: 24px;
      }
    }

    &-links {
      display: none;
      width: 100%;
      text-align: center;
      a {
        display: block;
        &:hover {
          background-color: rgba(white, 0.1);
          opacity: 1;

        }
      }
    }

    &-social-links {
      a {
        display: inline-block;
      }
    }
  }
}

.show-links {
  display: block;
}


.footer-social-links {
  text-align: center;
  a {
    display: inline-block;
    color: $white !important;
    opacity: 0.4;
    padding: 0 .5rem;
    font-weight: 300;
    transition: 0.2s all ease-in-out;
    &:hover, &.is-current {
      opacity: 1;
    }
  }
}
