// Mixins
@import '~materialize-css/sass/components/_color.scss';

// Variables;
@import '~materialize-css/sass/components/_variables.scss';

// Reset
@import '~materialize-css/sass/components/_normalize.scss';

// Components
@import '~materialize-css/sass/components/_global.scss';
@import '~materialize-css/sass/components/_icons-material-design.scss';
@import '~materialize-css/sass/components/_grid.scss';
@import '~materialize-css/sass/components/_buttons.scss';
@import '~materialize-css/sass/components/_typography.scss';
@import '~materialize-css/sass/components/_cards.scss';
@import '~materialize-css/sass/components/_toast.scss';
@import '~materialize-css/sass/components/_waves.scss';
@import '~materialize-css/sass/components/_modal.scss';
@import '~materialize-css/sass/components/_chips.scss';
@import '~materialize-css/sass/components/_materialbox.scss';
@import '~materialize-css/sass/components/forms/_forms.scss';
@import '~materialize-css/sass/components/_preloader.scss';
@import '~materialize-css/sass/components/_carousel.scss';

// custom
@import 'partials/variables';
@import 'partials/typography';
@import 'partials/nav';
@import 'partials/hero';
@import 'partials/sections';
@import 'partials/card';
@import 'partials/devicons';
@import 'partials/hiw';
@import 'partials/helpers';


.card-post {
  margin-bottom: 2rem;
  box-shadow: 0 16px 32px -16px rgba(black,0.1);
  border: 1px solid whitesmoke;
  border-radius: 4px;
  overflow: hidden;
  padding: 0 !important;

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  &__thumb {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 300px;
    background-size: cover;
  }

  &__title {
    font-size: 3rem;
    font-weight: 500;
    padding: 0 1rem;

    a {
      color: $pizazz !important;
    }

    @media #{$medium-and-down} {
      font-size: 2.5rem;
    }
  }

  &__excerpt {
    font-size: 1.4rem;
    line-height: 1.5;
    font-family:serif;
    padding: 0 1rem;

    @media #{$medium-and-down} {
      font-size: 1.1rem;
      line-height: 1.4;
    }
  }

  &__date {
    padding-right: 1rem;
    font-size: 1rem;
    opacity: 0.8;

    @media #{$medium-and-down} {
    text-align: left;
    }
  }
}

.page-post {
  p, ol, ul {
    font-size: 1.4rem;
    line-height: 1.6;
    font-family: serif;
  }

  ol, ul {
    li {
      margin-top: 1rem;
    }
  }
}

.content .taglist {
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 1.5rem;
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;

  li {
    padding: 0 2rem 1rem 0;
    margin-bottom: 1.5rem;
    margin-top: 0;
  }
}